h1 {
    color: #1b1b32;
    font-size: 2.5rem;
    font-family: Roboto, sans-serif;
    text-align: center;
    margin: 1.2rem 0;
}

.App {
    height: 100vh;
    background-color: #434371;
    display: flex;
    flex-direction: column;


}
.task-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kaizen-tob-logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.kaizen-tob-logo {
    min-width: 10rem;
    max-width: 20%;
}

.main-tasks-list-container {
    width: 60rem;
    min-height: 50rem;
    background-color: #79AEA3;
    padding: 2.5rem;
    margin: 1rem;
    border-radius: 26px;
}
